#page-home{
    height: 60vh;   
    background-size: contain;
    background: url(../assets/gachorro.png) no-repeat;
    background-position: 45vw 10vw;
    background-size: 650px;


}

#page-home .content{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto 0 40px;

    display: flex;
    flex-direction: column;

    height: 100%;
}

#page-home main{
    max-width: 560px;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#page-home main h1{
    font-size: 54px;
    margin: 5% 10% auto 10%;
}

#page-home main p{
    font-size: 26px;
    line-height: 38px;
    margin: 24px auto auto 10%;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a:hover{
    background-color: #038aa1;
}

/*Botão, letra, tamanho*/
#page-home header a{
    width: 50%;
    max-width: 160px;
    height: 30px;
    border-radius: 5px 16px;


    align-items: center;
    margin-top: 20px;

    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: var(--azul-color);

    display: flex;
    

    cursor: pointer;

    transition: 400ms;
}

#page-home header a span {
    width: 150px;

    border-top-left-radius: 5px 16px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.5%;


}

.logoSoniaVet {
    max-width: 120px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-top: 25px;

}