:root {
    --esmeralda-color: #0bf8b1;
    --azul-color: #0bb5d3;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, 'san-serif';
}
/*BOX MODEL*/

body {
    background: rgb(245, 245, 245);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Noto Sans, sans-serif;
    color: var(--esmeralda-color);
}