:root {
    --esmeralda-color: #0bf8b1;
    --azul-color: #0bb5d3;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, 'san-serif';
}
/*BOX MODEL*/

body {
    background: rgb(245, 245, 245);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Noto Sans, sans-serif;
    color: var(--esmeralda-color);
}

#page-home{
    height: 100vh;   
    background-size: contain;

}

#page-home .content{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto 0 40px;

    display: flex;
    flex-direction: column;

    height: 100%;
}

#page-home main{
    max-width: 560px;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#page-home main h1{
    font-size: 54px;

}

#page-home main p{
    font-size: 26px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a:hover{
    background-color: #038aa1;
}

/*Botão, letra, tamanho*/
#page-home header a{
    width: 50%;
    max-width: 160px;
    height: 30px;
    border-radius: 5px 16px;


    align-items: center;
    margin-top: 20px;

    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: var(--azul-color);

    display: flex;
    

    cursor: pointer;

    transition: 400ms;
}

#page-home header a span {
    width: 150px;

    border-top-left-radius: 5px 16px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logoSoniaVet {
    max-width: 120px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-top: 25px;

}

@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw;
    }
    
    #page-home .content {
        align-items: center;
        text-align: center;

        margin: 5%;
    }

    #page-home header a {
        position: absolute;
        bottom: 15%;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;

    }

}