#modal {
    background-color: #001a1299;

    height: 110vh;
    width: 110vw;
    
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;

}

#modal .content {
    justify-content: center;
    align-items: center;
    
    color: white;
}
#modal .header{
    display: flex;
    align-items: center;

    margin-bottom: 48px;
}

#modal .header a{
    background: url(../assets/fechar.png);
    background-size: 23px;


    width: 20px;
    height: 20px;
    font-size: 0.01px;    
}

#modal .header h1{
    color: white;

    font-size: 30px;
    line-height: 42px;

}

#modal form label{
    font-size: 14px;

    line-height: 16px;

    display: block;
    margin-bottom: 8px;
}

