#modal {
    background-color: #001a1299;

    height: 110vh;
    width: 110vw;
    
    position: fixed;
    top: 0;

    transition: 400ms;

}

#fechar {
    display: flex;
    background: url(/assets/fechar.png);
    background-size: 35px;

    width: 35px;
    height: 35px;
    font-size: 0.1px;  
    
    margin: 4% 10% 0 80%;
    
}

#modal .content {
    margin: 5% 20% 50% 4%;
    justify-content: top;
    align-items: center;

    color: white;

}

#modal .header {
    display: flex;
    align-items: center;

    margin-bottom: 30px;

}

#modal .header h1 {
    color: white;

    font-size: 30px;
    line-height: 42px;

}

#modal form {
    margin: 0 0 0 15%;
    
}

#modal form label {
    font-size: 20px;

    line-height: 16px;

    display: block;
    margin-bottom: 10px;

}

#modal button:hover {
    background-color: #03a1bd;
}

#modal button {
    width: 50%;
    max-width: 160px;
    height: 30px;

    margin-top: 20px;

    background-color: var(--azul-color);

    align-items: center;
    border: 0;
    border-radius: 6px;

    cursor: pointer;
    transition: 400ms;

}

#modal button a {
    color: white;

    font-weight: bold;
    font-size: 19px;

}
