@media (max-width: 640px) {
    #page-home {
        background-size: 400px;
        background-position: 8vw 100vw;
    }
    
    #page-home .content {
     
        margin: 10px;
    }

    #page-home header a {
        position: absolute;
        bottom: 10%;
        
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

}

@media (max-width: 620px) {

    #caso { 
        padding: 15px 20px;
        
        border-radius: 6px;
    
        margin-top: 10px;
    
        border: 0;
    
        width: 350px;
        height: 180px;
    
        font-size: 16px;
        font-family: Roboto, 'san-serif';
    
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

}

@media (max-width: 450px) {

    #modal form {
        margin: 0 0 0 5%;
        
    }
    #nome { 
        font-size: 16px;
    
        padding: 8px 15px 5px ;
        border-radius: 6px;
    
        border: 0;
        margin-bottom: 15px;
    
        width: 282px;
    
        -moz-box-sizing: border-box;
        box-sizing: border-box;       
       
    }
    
    #email { 
        font-size: 16px;
    
        padding: 8px 15px 5px ;
        border-radius: 6px;
    
        border: 0;
        margin-bottom: 15px;
    
        width: 282px;
    
        -moz-box-sizing: border-box;
        box-sizing: border-box;
       
    }
    
    #caso { 
        padding: 15px 20px;
        
        border-radius: 6px;
    
        margin-top: 10px;
    
        border: 0;
    
        width: 280px;
        height: 150px;
    
        font-size: 16px;
        font-family: Roboto, 'san-serif';
    
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

}

